|Scenario|Action|Expected Result|Actual result| Rating|
|:---|:---|:---|:---|:---|
|1. Start the game|Pressing the "Play" button in the menu|Opening a window for login or registration|A window has opened for login or registration| successful |
|2. Registration|Clicking on the "Register" button|Register your account|When you click "Register", a message pops up about the successful registration|successful|
|3. Sign In|Clicking the Login button|Login to a registered account|When you click on the "Login" message, a successful login message pops up|successful |
|4. Guess the character|Guessing the character during the gameplay|A window appears with the text "You guessed it!"|A window appeared with the text "You guessed it!"|successful |
|5. Do not guess the character|Do not guess the character during the gameplay|A window appears with the text "You did not guess!"|A window appeared with the text "You did not guess!" |successful| |
|6. Read the rules of the game|Clicking on the "Game Rules" button in the menu|Opening a window with text instructions for the game|A window with the rules of the game has opened|successful|
|7. Exit to the menu after the end of the game|After the end of the game, press the "Menu" button to return to the main menu|Opening a window with the main menu|the main menu from the application did not open|failed|
|8. Play again after the end of the game|In the displayed window with the result of the game, click the "Play Again" button|The appearance of the window with the button "Make a Character"|missing "Play again" button |failed |
|9. Close application|Pressing the "Exit" button in the main menu|Shutting down the application. Close all application windows|When clicked, the window closed|successful|

