|Scenario|Action|Expected Result|Actual result| Rating|
|:---|:---|:---|:---|:---|
|1. Start the game|Pressing the "Play" button in the menu|Opening a window for login or registration|A window has opened for login or registration| successful |
|2. Registration|Clicking on the "Register" button|Register your account|When you click "Register", a message pops up about the successful registration|successful|
|3. Вход в аккаунт|Нажатие на конпку "Вход"|Вход в зарегестрированный аккаунт|При нажатии кнопки "Вход" всплыло сообщение об успешном входе |выполнено |
|4. Угадать персонажа|Угадывание персонажа во время игрового процесса|Появление окна с тесктом "Вы угадали!"|Появилось окно с текстом "Вы угадали!"|successful |
|5. Не угадать персонажа|Не угадывание персонажа во время игрового процесса|Появление окна с тесктом "Вы не угадали!"|Появилось окно с текстом "Вы не угадали!" |successful| |
|6. Read the rules of the game|Clicking on the "Game Rules" button in the menu|Opening a window with text instructions for the game|A window with the rules of the game has opened|successful|
|7. Exit to the menu after the end of the game|After the end of the game, press the "Menu" button to return to the main menu|Opening a window with the main menu|the main menu from the application did not open|failed|
|8. Play again after the end of the game|In the displayed window with the result of the game, click the "Play Again" button|The appearance of the window with the button "Make a Character"|missing "Play again" button |failed |
|9. Close application|Pressing the "Exit" button in the main menu|Shutting down the application. Close all application windows|When clicked, the window closed|successful|

